/* Giphy gif by xavieralopez https://giphy.com/gifs/love-animation-art-kv5ek9HvmdqpOYiYxh */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: #141010e3;
}

.text-overlay {
  background: url('https://media.giphy.com/media/kv5ek9HvmdqpOYiYxh/giphy.gif')
    no-repeat;
  font-size: 10px;
  line-height: 10px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: justify;
  width: 100vw;
  height: 100vh;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-overlay > p {
  color: red;
}
